<div class="background-image"></div>
<div class="content">

    <h1 class="logo">Contactenos</h1>

    <div class="contact-wrapper animated bounceInUp">
        <div class="contact-form">

            <form action="/enviar-mensaje" method="POST">
                <p>
                    <label>Nombre Completo</label>
                    <input type="text" name="fullname" required>
                </p>
                <p>
                    <label>Correo Electrónico</label>
                    <input type="email" name="email" required>
                </p>
                <p>
                    <label>Número Telefónico</label>
                    <input type="tel" name="phone" required>
                </p>
                <p class="block">
                   <label>Mensaje</label> 
                    <textarea name="message" rows="3" required></textarea>
                </p>
                <p class="block">
                    <button type="submit">Enviar Mensaje</button>
                </p>
            </form>
        </div>
        <div class="contact-info">
            <h4>Más Información</h4>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i> Campus Zamorano, San Antonio de Oriente, Francisco Morazán, Honduras, Centroamérica.</li>
                <li><i class="fas fa-phone"></i> +504 **** ****</li>
                <li><i class="fas fa-envelope-open-text"></i> info@aveshonduras.org</li>
            </ul>
            <p>Apartado Postal 93, Km 30 carretera de Tegucigalpa a Danlí, Valle del Yeguare, Municipio de San Antonio de Oriente., Francisco Morazán, Honduras., 11101 Tegucigalpa</p>
        </div>
    </div>
</div>
