<section class="donacionContainer">
  <div class="title">
    <h2>¿Como Donar?</h2>
    <hr class="bar">
  </div>
  <section>
    <div class="donacionInfo">
      <h2>¡Haz tu Donacion!</h2>
      <p>Realiza aquí tu donación por la Educación, Investigación y Conservación
        de las aves de Honduras.</p>
    </div>
    <div class="metodosDonacion">
      <p>Por medio de tarjeta de débito o crédito</p>
      <ul>
        <li><a href="#">L.500</a></li>
        <li><a href="#">L.1,000</a></li>
        <li><a href="#">L.5,000</a></li>
        <li><a href="#">L.10,000</a></li>
      </ul>
      <p>Por medio de depósito bancario</p>
      <ul>
        <li>Banco Lafise Cuenta No. 103503000063 (cheques)</li>
        <li>Banco de Occidente No. 112010157050 (cheques)</li>
        <li>BAC (lempiras) No. 747091031 (ahorro)</li>
        <li>BAC (dólares) No. 747091101 (ahorro)</li>
      </ul>
    </div>
    <div class="donacionDsc">
      <p>Donación por transferencia o depósito deben ser a nombre de la
        <p class="negritas">Asociación Hondureña de Ornitología, RTN 08019011444923.</p>
      </p>
      <p class="negritas">IMPORTANTE:</p><p> Para cualquier donación, POR FAVOR envíanos un mensaje a
        info@aveshonduras.org notificando esta grandiosa novedad, junto con tu
        comprobante de transferencia. Si deseas dirigir tu donación a un
        proyecto en particular o al pago de cuota de membresía, puedes indicarlo
        en el correo. Igualmente, por favor indica si requiere un certificado de
        donación o una factura, en cual caso necesitaremos tu nombre completo y
        RTN. Apreciaremos mucho si nos envías un número de teléfono por si
        necesitamos contactarte acerca de la donación. ¡Muchas Gracias!</p>
    </div>
  </section>
</section>