<footer>

  <img
    class="logoFooter"
    src="https://aveshonduras.org/wp-content/uploads/2021/07/Logo-aves-hondur.png"
    alt="logo"
  />
  <section class="enlaOtp">
    <div>
      <p>Enlaces</p>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Membresia</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Oportunidades Laborales</a></li>
      </ul>
    </div>
    <div>
      <p>Otras Paginas</p>
      <ul>
        <li><a href="#">Biblioteca</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Galería</a></li>
        <li><a href="#">Calendario</a></li>
        <li><a href="#">Donar</a></li>
      </ul>
    </div>
  </section>

  <div class="contacto">
    <p>Contacto</p>
    <ul>
      <li><a href="#">Campus Zamorano, San Antonio de Oriente, Francisco
          Morazán, Honduras, Centroamérica</a></li>
      <li><a href="#">info@aveshonduras.org</a></li>
    </ul>
    <div>
      <ul class="redes">
        <li><a href="#"><img
              src="../media/facebook_icon_264986.png"
              alt="facebookPng"
            /></a></li>
        <li><a href="#"><img
              src="../media/instagram_icon_264992.png"
              alt="instagramPng"
            /></a></li>
        <li><a href="#"><img
              src="../media/twitter_icon_264995.png"
              alt="twitterPng"
            /></a></li>
        <li><a href="#"><img
              src="../media/iconfinder-social-media-web-network-logo01-4584668_122292.png"
              alt="youtubePng"
            /></a></li>
      </ul>
    </div>
  </div>
</footer>