
    <div class="gallery-item" style="background-image: url(../media/plumas.jpg);">
        <div class="image-wrapper">
            <img src="{{url}}" alt="{{title}}">
            <p>{{title}}</p>
        </div>
        <a href="#" class="ver-mas">Ver más</a>
    </div>


