<<<<<<< HEAD
<header>
    <nav class="navbar">
        <a href="/" class="logo">
            <img src="https://aveshonduras.org/wp-content/uploads/2021/07/Logo-aves-hondur.png" alt="Logo">
        </a>
        <button class="menu-toggle" id="menuToggle" aria-label="Menú">
            <span class="hamburger">☰</span>
            <span class="close" style="display:none">✕</span>
        </button>
        <ul id="mainMenu">
            <!-- Items del menú -->
            <li class="dropdown">
                <a href="index.html">INICIO</a>
                <ul class="dropdown-menu"> 
                    <li><a href="pilares.html">Pilares</a></li>
                    <li><a href="calendario.html">Calendario de actividades</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="Nosotros.html">Nosotros</a>
                <ul class="dropdown-menu">
                    <li><a href="Nosotros.html">¿Quiénes somos? </a></li>
                    <li><a href="Nosotros.html">Nuestro Personal</a></li>
                    <li><a href="Nosotros.html">Consejo Directivo (2024-2026)</a></li>
                    <li><a href="Nosotros.html">Comités de trabajo</a></li>
                    <li><a href="Nosotros.html">Miembros institucionales</a></li>
                    <li><a href="Nosotros.html">Clubes</a></li>
                    <li><a href="Nosotros.html">Contáctenos</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="membresia.html">Unete</a>
                <ul class="dropdown-menu">
                    <li><a href="membresia.html">Hazte Miembro</a></li>
                    <li><a href="membresia.html">Informacion sobre las membresías</a></li>
                    <li><a href="membresia.html">Beneficio de la membresía</a></li>
                </ul>
            </li>
            <li><a href="ComoDonar.html">Donar</a></li>
            <li class="dropdown">
                <a href="programas.html">Programas</a>
                <ul class="dropdown-menu">
                    <li><a href="programas.html">Conservación</a></li>
                    <li><a href="programas.html">Investigación</a></li>
                    <li><a href="programas.html">Educación</a></li>
                    <li><a href="programas.html">Aviturismo</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="biblioteca.html">Biblioteca</a>
                <ul class="dropdown-menu">
                    <li><a href="">Blog</a></li>
                    <li><a href="biblioteca.html">Lista de Aves de Honduras 2024</a></li>
                    <li><a href="biblioteca.html">Plan estratégico e informes anuales de actividades</a></li>
                    <li><a href="biblioteca.html">Normativas</a></li>
                </ul>
            </li>
            <li><a href="tienda.html">Tienda</a></li>
            <li><a href="empleos.html">Empleo</a></li>
        </ul>
    </nav>
</header>
=======
<header>
    <nav class="navbar">
        <a href="/" class="logo">
            <img src="https://aveshonduras.org/wp-content/uploads/2021/07/Logo-aves-hondur.png" alt="Logo">
        </a>
        <button class="menu-toggle" id="menuToggle" aria-label="Menú">
            <span class="hamburger">☰</span>
            <span class="close" style="display:none">✕</span>
        </button>
        <ul id="mainMenu">
            <!-- Items del menú -->
            <li class="dropdown">
                <a href="index.html">INICIO</a>
                <ul class="dropdown-menu"> 
                    <li><a href="pilares.html">Pilares</a></li>
                    <li><a href="calendario.html">Calendario de actividades</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="Nosotros.html">Nosotros</a>
                <ul class="dropdown-menu">
                    <li><a href="Nosotros.html">¿Quiénes somos? </a></li>
                    <li><a href="Nosotros.html">Nuestro Personal</a></li>
                    <li><a href="Nosotros.html">Consejo Directivo (2024-2026)</a></li>
                    <li><a href="Nosotros.html">Comités de trabajo</a></li>
                    <li><a href="Nosotros.html">Miembros institucionales</a></li>
                    <li><a href="Nosotros.html">Clubes</a></li>
                    <li><a href="Nosotros.html">Contáctenos</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="membresia.html">Unete</a>
                <ul class="dropdown-menu">
                    <li><a href="membresia.html">Hazte Miembro</a></li>
                    <li><a href="membresia.html">Informacion sobre las membresías</a></li>
                    <li><a href="membresia.html">Beneficio de la membresía</a></li>
                </ul>
            </li>
            <li><a href="ComoDonar.html">Donar</a></li>
            <li class="dropdown">
                <a href="programas.html">Programas</a>
                <ul class="dropdown-menu">
                    <li><a href="programas.html">Conservación</a></li>
                    <li><a href="programas.html">Investigación</a></li>
                    <li><a href="programas.html">Educación</a></li>
                    <li><a href="programas.html">Aviturismo</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="biblioteca.html">Biblioteca</a>
                <ul class="dropdown-menu">
                    <li><a href="">Blog</a></li>
                    <li><a href="biblioteca.html">Lista de Aves de Honduras 2024</a></li>
                    <li><a href="biblioteca.html">Plan estratégico e informes anuales de actividades</a></li>
                    <li><a href="biblioteca.html">Normativas</a></li>
                </ul>
            </li>
            <li><a href="tienda.html">Tienda</a></li>
            <li><a href="empleos.html">Empleo</a></li>
        </ul>
    </nav>
</header>
>>>>>>> fdc7ff23d25f9166a4feaf9a6f52f58ae4a8352e
