<header>
    <nav class="navbar">
        <a href="/" class="logo">
            <img src="https://aveshonduras.org/wp-content/uploads/2021/07/Logo-aves-hondur.png" alt="Logo">
        </a>
        <button class="menu-toggle" id="menuToggle" aria-label="Menú">
            <span class="hamburger">☰</span>
            <span class="close" style="display:none">✕</span>
        </button>
        <ul id="mainMenu">
            <!-- Items del menú -->
            <li class="dropdown">
                <a href="/index.html">INICIO</a>
                <ul class="dropdown-menu"> 
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a href="/pilares.html">Pilares</a></li>
                    <li><a href="/calendario.html">Calendario de actividades</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/nosotros.html">Nosotros</a>
                <ul class="dropdown-menu">
                    <li><a href="/nosotros.html">Nosotros</a></li>
                    <li><a href="/nosotros.html">¿Quiénes somos? </a></li>
                    <li><a href="/personal.html">Nuestro Personal</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="blog.html">Blog</a>
                <ul class="dropdown-menu">
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="membresia.html">Informacion sobre las membresías</a></li>
                    <li><a href="membresia.html">Beneficio de la membresía</a></li>
                </ul>
            </li>
            <li><a href="donar.html">Donar</a></li>
            <li class="dropdown">
                <a href="/programas.html">Programas</a>
            </li>
            <li class="dropdown">
                <a href="/gallery.html">Galeria</a>
                <ul class="dropdown-menu">
                    <li><a href="/gallery.html">Galeria</a></li>
                    <li><a href="/testimonios.html">Testimonios</a></li>

                </ul>
            </li>
               <li class="dropdown">
                <a href="equipos.html">Equipos y Aliados</a>
                <ul class="dropdown-menu">
                <li><a href="equipos.html">Equipos y Aliados</a></li>
                <li><a href="comites.html">Comites de Trabajo</a></li>
                <li><a href="miembros.html">Miembros institucionales</a></li>
                </ul>
            </li>
            <li><a href="preguntas.html">Preguntas Frecuentes</a></li>
        </ul>
    </nav>
</header>
