<!-- SLIDER -->
<section class="slider">
    <section class="frametrack">
        <section class="slide">
            <picture>
                <source srcset="https://aveshonduras.org/wp-content/uploads/2021/11/Ara-macao-Scarlet-Macaw.jpg"
                    media="(min-width:1024px)" />
                <source srcset="https://aveshonduras.org/wp-content/uploads/2021/11/Ara-macao-Scarlet-Macaw.jpg"
                    media="(min-width:720px)" />
                <img src="https://aveshonduras.org/wp-content/uploads/2021/11/Ara-macao-Scarlet-Macaw.jpg"
                    alt="Slide 3" />
            </picture>
        </section>
        <section class="slide">
            <picture>
                <source
                    srcset="https://aveshonduras.org/wp-content/uploads/2021/10/Foto-5_Whiskered-Screech-Olw-Rofous-morph-Hotel-La-Casona-Campestre-Marcala-La-Paz_Walter-Ricardo-Paguada.jpeg"
                    media="(min-width:1024px)" />
                <source
                    srcset="https://aveshonduras.org/wp-content/uploads/2021/10/Foto-5_Whiskered-Screech-Olw-Rofous-morph-Hotel-La-Casona-Campestre-Marcala-La-Paz_Walter-Ricardo-Paguada.jpeg"
                    media="(min-width:720px)" />
                <img src="https://aveshonduras.org/wp-content/uploads/2021/10/Foto-5_Whiskered-Screech-Olw-Rofous-morph-Hotel-La-Casona-Campestre-Marcala-La-Paz_Walter-Ricardo-Paguada.jpeg"
                    alt="Slide 2" />
            </picture>
        </section>
        <section class="slide">
            <picture>
                <source
                    srcset="https://aveshonduras.org/wp-content/uploads/2021/07/Thalurania-colombica-Crowned-Woodnymph.jpg"
                    media="(min-width:1024px)" />
                <source
                    srcset="https://aveshonduras.org/wp-content/uploads/2021/07/Thalurania-colombica-Crowned-Woodnymph.jpg"
                    media="(min-width:720px)" />
                <img src="https://aveshonduras.org/wp-content/uploads/2021/07/Thalurania-colombica-Crowned-Woodnymph.jpg"
                    alt="Slide 1" />
            </picture>
        </section>
    </section>
    <!-- Overlay con texto sobre slider -->
    <div class="slider-overlay">
        <div class="slider-text-content">
            <h1>Visita los Santuarios Aves Honduras</h1>
            <p>Aves Honduras, registrado formalmente como Asociación Hondureña de Ornitología (ASHO), es una
                organización no gubernamental que vela por la conservación de las aves en Honduras.</p>
            <div class="slider-buttons">
                <a href="gallery.html" class="btn-slider">GALERIA</a>
                <a href="donar.html" class="btn-slider">DONAR</a>
                <a href="contacto.html" class="btn-slider">CONTACTANOS</a>
            </div>
        </div>
    </div>
</section> 