main{
    .donacionContainer{
        position: relative;

        section{
            background-color: fadeout(@primary-color,10%);
            .donacionInfo{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .metodosDonacion{

            }
            .donacionDsc{
                p{
                    margin: 0px;
                }
            }
        }
    }

}