footer {
  background-color: darken(@dropdown-color, 10%);
  display: flex;
  flex-direction: column;
  position: relative;
  .logoFooter {
    overflow: hidden;
    object-fit: cover;
  }

  .enlaOtp{
    display: flex;
    flex-direction: block;
    align-items: center;
    position: relative;
    div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            text-align: center;
        }
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            li{
                display: flex;
                justify-content: center;
                width: 100%;
                a{
                    text-decoration: none;
                }
            }
        }
    }
  }
  .contacto {
    ul {
      display: flex;
      flex-direction: column;
    }
    .redes {
      display: flex;
      flex-direction: row;
    }
  }
}
