main{
    position: relative;
    .title{
        background-color: @dropdown-color;
        display: flex;
        justify-content: center;
        hr{
            border: 2rem;
        }
    }
    
    

    .card{
        background-color: @primary-color;
    }
}