
@primary-color: #ffffff;
@secondary-color: #ede0e040;
@dropdown-color: #3AAA35;
@dropdown-secondary-color: #f9ed81cb;

@primary-text-color: #000000;
@secondary-text-color: #ffffff;

/* Variables
@bg-color: #fff;
@hover-bg: #c6c5c540;
@dropdown-bg: #3AAA35;
@dropdown-hover: #f9ed81cb;
@text-color: rgb(0, 0, 0);

 */
@mobile-breakpoint: 1024px;
@mobile-small: 480px;
#breaks{
    tablet: 768px;
    desktop: 1025px;
    wide: 2300px;
}

#breaks-prefix{
    tablet: md-;
    desktop: lg-;
    wide: xl-;
}